@import "tailwindcss";

/* Hide all scrollbars (webkit + standard) */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

body {
  background-color: #020617; /* slate-950 */
  color: #f8fafc; /* slate-50 */
}
