@import "tailwindcss";

html,
body {
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Dashboard and all scrollable elements */
* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}